# Data cleaning

This is a data cleaning performed on the real estate market trends in Conneticut. 


The raw data file was obtained from https://catalog.data.gov/dataset/real-estate-sales-2001-2018. On the wbsite, the file is described to include

>town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment. 

>Annual real estate sales are reported by grand list year (October 1 through September 30 each year). For instance, sales from 2018 GL are from 10/01/2018 through 9/30/2019 (Data.gov).

#### 1. Import Libraries and the dataset. <a id = 'import'></a>

In [50]:
#Libraies imported
import pandas as pd

In [51]:
#Dataset imported
real_estate = pd.read_csv('../../Datasets/lat_lon_updated_for_real_estate_with_remarks.csv')
#Reset Index
real_estate.reset_index(drop=True)

/var/folders/kv/4xjj0g696_lcyc7ms5pdd2t00000gn/T/ipykernel_19410/2954183131.py:2: DtypeWarning: Columns (9,10,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate = pd.read_csv('../../Datasets/lat_lon_updated_for_real_estate_with_remarks.csv')

,Unnamed: 0,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,Full Address,latitude,longitude,month_recorded,year_recorded
0,0,2020180,2020,2021-03-01,Berlin,1539 FARMINGTON AVE,234200.0,130000.0,1.801500,Residential,Two Family,8.0,NaN,NaN,NaN,"1539, Farmington Ave, Berlin, Connecticut, Uni...",41.622355,-72.746275,3,2021
1,1,200086,2020,2021-08-10,Bethlehem,39 WOODLAND RD,168900.0,352000.0,0.479800,Residential,Single Family,NaN,NaN,NaN,POINT (-73.18197 41.64672),"39, Woodland Rd, Bethlehem, Connecticut, Unite...",-73.181970,41.646720,8,2021
2,2,200258,2020,2021-01-22,Branford,34 SUNRISE COVE CAMP,530500.0,700000.0,0.757800,Residential,Single Family,NaN,WATERFRONT/COTTAGE ONLY/LAND IS ASSOCIATION OWNED,NaN,NaN,"34, Sunrise Cove Camp, Branford, Connecticut, ...",0.000000,0.000000,1,2021
3,3,201212,2020,2021-08-23,Bristol,8 JENNINGS TERR,88060.0,91000.0,0.967600,Residential,Single Family,14.0,FORECLOSURE SALE OUT OF BANK,NaN,NaN,"8, Jennings Terr, Bristol, Connecticut, United...",41.678618,-72.952319,8,2021
4,4,2000330,2020,2021-05-20,Cheshire,844 HIGHLAND AVE,144220.0,204000.0,0.706900,Residential,Single Family,25.0,DEFERRED MAINTENANCE,NaN,NaN,"844, Highland Ave, Cheshire, Connecticut, Unit...",41.521906,-72.896793,5,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461888,461888,190105,2019,2020-02-25,Plymouth,18 OVERLOOK RD,104130.0,80000.0,1.301625,Single Family,Single Family,14.0,NaN,BANK SALE PER MLS,POINT (-72.98492 41.64753),"18, Overlook Rd, Plymouth, Connecticut, United...",-72.984920,41.647530,2,2020
461889,461889,19921,2019,2019-11-18,West Haven,75 CLOVER ST,125230.0,246000.0,0.509100,Single Family,Single Family,NaN,NaN,NaN,POINT (-72.96445 41.25722),"75, Clover St, West Haven, Connecticut, United...",-72.964450,41.257220,11,2019
461890,461890,190272,2019,2020-08-03,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family,25.0,NaN,"PER MLS CLOSING PRICE = $1,145,000",NaN,"145, Whipstick Rd, Wilton, Connecticut, United...",41.245241,-73.465908,8,2020
461891,461891,190272,2019,2020-06-24,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14.0,NaN,NaN,NaN,"4, Bishop Ct, New London, Connecticut, United ...",41.353418,-72.104892,6,2020
461892,461892,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25.0,PRIVATE SALE,NaN,NaN,"126, Perkins Ave, Waterbury, Connecticut, Unit...",41.584333,-73.032776,11,2019

In [43]:
data_without_remarks = pd.read_csv('../../Datasets/lat_lon_updated_for_real_estate_withOUT_remarks.csv') 

data_without_remarks.reset_index(drop=True)

data_without_remarks.info()

/var/folders/kv/4xjj0g696_lcyc7ms5pdd2t00000gn/T/ipykernel_19410/166152360.py:1: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data_without_remarks = pd.read_csv('../../Datasets/lat_lon_updated_for_real_estate_withOUT_remarks.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535302 entries, 0 to 535301
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0.3      535302 non-null  int64
 1   Unnamed: 0.2      535302 non-null  int64
 2   Unnamed: 0.1      535302 non-null  int64
 3   Unnamed: 0        535302 non-null  int64
 4   Serial Number     535302 non-null  int64
 5   List Year         535302 non-null  int64
 6   Date Recorded     535300 non-null  object
 7   Town              535302 non-null  object
 8   Address           535299 non-null  object
 9   Assessed Value    535302 non-null  float64
 10  Sale Amount       535302 non-null  float64
 11  Sales Ratio       535302 non-null  float64
 12  Property Type     314198 non-null  object
 13  Residential Type  312773 non-null  object
 14  Non Use Code      0 non-null       float64
 15  Assessor Remarks  0 non-null       float64
 16  OPM remarks       0 non-null       float64
 17  Location          0 non-null       float64
 18  Full Address      535302 non-null  object
 19  latitude          83998 non-null   float64
 20  longitude         83998 non-null   float64
dtypes: float64(9), int64(6), object(6)
memory usage: 85.8+ MB

In [44]:
real_estate = real_estate.loc[:, ~real_estate.columns.str.contains('_recorded')]
real_estate = real_estate.loc[:, ~real_estate.columns.str.contains('Unnamed')]
data_without_remarks = data_without_remarks.loc[:, ~data_without_remarks.columns.str.contains('Unnamed')]

data_without_remarks.info()
real_estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535302 entries, 0 to 535301
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     535302 non-null  int64
 1   List Year         535302 non-null  int64
 2   Date Recorded     535300 non-null  object
 3   Town              535302 non-null  object
 4   Address           535299 non-null  object
 5   Assessed Value    535302 non-null  float64
 6   Sale Amount       535302 non-null  float64
 7   Sales Ratio       535302 non-null  float64
 8   Property Type     314198 non-null  object
 9   Residential Type  312773 non-null  object
 10  Non Use Code      0 non-null       float64
 11  Assessor Remarks  0 non-null       float64
 12  OPM remarks       0 non-null       float64
 13  Location          0 non-null       float64
 14  Full Address      535302 non-null  object
 15  latitude          83998 non-null   float64
 16  longitude         83998 non-null   float64
dtypes: float64(9), int64(2), object(6)
memory usage: 69.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461893 entries, 0 to 461892
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     461893 non-null  int64
 1   List Year         461893 non-null  int64
 2   Date Recorded     461893 non-null  object
 3   Town              461893 non-null  object
 4   Address           461845 non-null  object
 5   Assessed Value    461893 non-null  float64
 6   Sale Amount       461893 non-null  float64
 7   Sales Ratio       461893 non-null  float64
 8   Property Type     300553 non-null  object
 9   Residential Type  296116 non-null  object
 10  Non Use Code      245326 non-null  float64
 11  Assessor Remarks  149858 non-null  object
 12  OPM remarks       9916 non-null    object
 13  Location          197691 non-null  object
 14  Full Address      444176 non-null  object
 15  latitude          449675 non-null  float64
 16  longitude         449675 non-null  float64
dtypes: float64(6), int64(2), object(9)
memory usage: 59.9+ MB

In [45]:
import pandas as pd

# Assuming 'data_without_remarks' and 'real_estate' are your DataFrames
frames = [data_without_remarks, real_estate]
result = pd.concat(frames, ignore_index=True)

In [46]:
result

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,Full Address,latitude,longitude
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN,"230, Wakelee Ave",41.347520,-73.090560
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN,"390, Turnpike Rd",41.917736,-72.207310
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN,"5, Chestnut Drive",55.927201,-4.163494
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN,"111, Northington Drive",41.790468,-72.902562
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN,"70, Far Hills Drive",41.797235,-72.805994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997190,190105,2019,2020-02-25,Plymouth,18 OVERLOOK RD,104130.0,80000.0,1.301625,Single Family,Single Family,14.0,NaN,BANK SALE PER MLS,POINT (-72.98492 41.64753),"18, Overlook Rd, Plymouth, Connecticut, United...",-72.984920,41.647530
997191,19921,2019,2019-11-18,West Haven,75 CLOVER ST,125230.0,246000.0,0.509100,Single Family,Single Family,NaN,NaN,NaN,POINT (-72.96445 41.25722),"75, Clover St, West Haven, Connecticut, United...",-72.964450,41.257220
997192,190272,2019,2020-08-03,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family,25.0,NaN,"PER MLS CLOSING PRICE = $1,145,000",NaN,"145, Whipstick Rd, Wilton, Connecticut, United...",41.245241,-73.465908
997193,190272,2019,2020-06-24,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14.0,NaN,NaN,NaN,"4, Bishop Ct, New London, Connecticut, United ...",41.353418,-72.104892
997194,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25.0,PRIVATE SALE,NaN,NaN,"126, Perkins Ave, Waterbury, Connecticut, Unit...",41.584333,-73.032776

In [47]:
cleaned_data[cleaned_data["Location"].isna()==True]

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,Full Address,latitude,longitude,month_recorded,year_recorded
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN,"230, Wakelee Ave",NaN,NaN,9.0,2021.0
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN,"390, Turnpike Rd",NaN,NaN,10.0,2020.0
2,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN,"5, Chestnut Drive",NaN,NaN,3.0,2021.0
3,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN,"111, Northington Drive",NaN,NaN,4.0,2021.0
4,200377,2020,2021-07-02,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN,"70, Far Hills Drive",NaN,NaN,7.0,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461886,190091,2019,2019-11-08,Shelton,6 LITTLE FOX RUN,186410.0,205000.0,0.909317,Single Family,Single Family,14.0,NaN,PURCHASE OF A FORECLOSED PROPERTY,NaN,"6, Little Fox Run, Shelton, Connecticut, Unite...",41.362090,-73.156707,11.0,2019.0
461887,1900224,2019,2020-07-30,Wolcott,12 OLD FARM RD,357680.0,490000.0,0.730000,Single Family,Single Family,25.0,MOTIVATED SELLER -DIVORCE,NaN,NaN,"12, Old Farm Rd, Wolcott, Connecticut, United ...",41.607426,-72.967990,7.0,2020.0
461890,190272,2019,2020-08-03,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family,25.0,NaN,"PER MLS CLOSING PRICE = $1,145,000",NaN,"145, Whipstick Rd, Wilton, Connecticut, United...",41.245241,-73.465908,8.0,2020.0
461891,190272,2019,2020-06-24,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14.0,NaN,NaN,NaN,"4, Bishop Ct, New London, Connecticut, United ...",41.353418,-72.104892,6.0,2020.0
461892,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25.0,PRIVATE SALE,NaN,NaN,"126, Perkins Ave, Waterbury, Connecticut, Unit...",41.584333,-73.032776,11.0,2019.0

In [48]:
cleaned_data.to_csv('../../Datasets/cleaned_data.csv')

In [49]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997193 entries, 0 to 461892
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997193 non-null  int64
 1   List Year         997193 non-null  int64
 2   Date Recorded     997193 non-null  datetime64[ns]
 3   Town              997193 non-null  object
 4   Address           997144 non-null  object
 5   Assessed Value    997193 non-null  float64
 6   Sale Amount       997193 non-null  float64
 7   Sales Ratio       997193 non-null  float64
 8   Property Type     614751 non-null  object
 9   Residential Type  608889 non-null  object
 10  Non Use Code      245326 non-null  float64
 11  Assessor Remarks  149858 non-null  object
 12  OPM remarks       9916 non-null    object
 13  Location          197691 non-null  object
 14  Full Address      979476 non-null  object
 15  latitude          489174 non-null  float64
 16  longitude         489174 non-null  float64
 17  month_recorded    997193 non-null  float64
 18  year_recorded     997193 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(8)
memory usage: 152.2+ MB