# Data cleaning

This is a data cleaning performed on the real estate market trends in Conneticut. 


The raw data file was obtained from https://catalog.data.gov/dataset/real-estate-sales-2001-2018. On the wbsite, the file is described to include

>town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment. 

>Annual real estate sales are reported by grand list year (October 1 through September 30 each year). For instance, sales from 2018 GL are from 10/01/2018 through 9/30/2019 (Data.gov).

### Table of Content

1. [Import Libraries and the dataset](#import)

#### 1. Import Libraries and the dataset. <a id = 'import'></a>

In [1]:
#Libraies imported
import pandas as pd

In [2]:
#Dataset imported
real_estate = pd.read_csv('../Datasets/lat_lon_updated_for_real_estate_with_remarks.csv')
#Reset Index
real_estate.reset_index(drop=True)

/var/folders/kv/4xjj0g696_lcyc7ms5pdd2t00000gn/T/ipykernel_4356/1688022803.py:2: DtypeWarning: Columns (9,10,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate = pd.read_csv('../Datasets/lat_lon_updated_for_real_estate_with_remarks.csv')

,Unnamed: 0,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,Full Address,latitude,longitude,month_recorded,year_recorded
0,0,2020180,2020,2021-03-01,Berlin,1539 FARMINGTON AVE,234200.0,130000.0,1.801500,Residential,Two Family,8.0,NaN,NaN,NaN,"1539, Farmington Ave, Berlin, Connecticut, Uni...",41.622355,-72.746275,3,2021
1,1,200086,2020,2021-08-10,Bethlehem,39 WOODLAND RD,168900.0,352000.0,0.479800,Residential,Single Family,NaN,NaN,NaN,POINT (-73.18197 41.64672),"39, Woodland Rd, Bethlehem, Connecticut, Unite...",-73.181970,41.646720,8,2021
2,2,200258,2020,2021-01-22,Branford,34 SUNRISE COVE CAMP,530500.0,700000.0,0.757800,Residential,Single Family,NaN,WATERFRONT/COTTAGE ONLY/LAND IS ASSOCIATION OWNED,NaN,NaN,"34, Sunrise Cove Camp, Branford, Connecticut, ...",0.000000,0.000000,1,2021
3,3,201212,2020,2021-08-23,Bristol,8 JENNINGS TERR,88060.0,91000.0,0.967600,Residential,Single Family,14.0,FORECLOSURE SALE OUT OF BANK,NaN,NaN,"8, Jennings Terr, Bristol, Connecticut, United...",41.678618,-72.952319,8,2021
4,4,2000330,2020,2021-05-20,Cheshire,844 HIGHLAND AVE,144220.0,204000.0,0.706900,Residential,Single Family,25.0,DEFERRED MAINTENANCE,NaN,NaN,"844, Highland Ave, Cheshire, Connecticut, Unit...",41.521906,-72.896793,5,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461888,461888,190105,2019,2020-02-25,Plymouth,18 OVERLOOK RD,104130.0,80000.0,1.301625,Single Family,Single Family,14.0,NaN,BANK SALE PER MLS,POINT (-72.98492 41.64753),"18, Overlook Rd, Plymouth, Connecticut, United...",-72.984920,41.647530,2,2020
461889,461889,19921,2019,2019-11-18,West Haven,75 CLOVER ST,125230.0,246000.0,0.509100,Single Family,Single Family,NaN,NaN,NaN,POINT (-72.96445 41.25722),"75, Clover St, West Haven, Connecticut, United...",-72.964450,41.257220,11,2019
461890,461890,190272,2019,2020-08-03,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family,25.0,NaN,"PER MLS CLOSING PRICE = $1,145,000",NaN,"145, Whipstick Rd, Wilton, Connecticut, United...",41.245241,-73.465908,8,2020
461891,461891,190272,2019,2020-06-24,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14.0,NaN,NaN,NaN,"4, Bishop Ct, New London, Connecticut, United ...",41.353418,-72.104892,6,2020
461892,461892,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25.0,PRIVATE SALE,NaN,NaN,"126, Perkins Ave, Waterbury, Connecticut, Unit...",41.584333,-73.032776,11,2019

In [3]:
real_estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461893 entries, 0 to 461892
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        461893 non-null  int64
 1   Serial Number     461893 non-null  int64
 2   List Year         461893 non-null  int64
 3   Date Recorded     461893 non-null  object
 4   Town              461893 non-null  object
 5   Address           461845 non-null  object
 6   Assessed Value    461893 non-null  float64
 7   Sale Amount       461893 non-null  float64
 8   Sales Ratio       461893 non-null  float64
 9   Property Type     300553 non-null  object
 10  Residential Type  296116 non-null  object
 11  Non Use Code      245326 non-null  float64
 12  Assessor Remarks  149858 non-null  object
 13  OPM remarks       9916 non-null    object
 14  Location          197691 non-null  object
 15  Full Address      444176 non-null  object
 16  latitude          449675 non-null  float64
 17  longitude         449675 non-null  float64
 18  month_recorded    461893 non-null  int64
 19  year_recorded     461893 non-null  int64
dtypes: float64(6), int64(5), object(9)
memory usage: 70.5+ MB

In [4]:
location_filtered = real_estate[real_estate['latitude'].notnull() & real_estate['longitude'].notnull()]

In [5]:
location_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 449675 entries, 0 to 461892
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        449675 non-null  int64
 1   Serial Number     449675 non-null  int64
 2   List Year         449675 non-null  int64
 3   Date Recorded     449675 non-null  object
 4   Town              449675 non-null  object
 5   Address           449627 non-null  object
 6   Assessed Value    449675 non-null  float64
 7   Sale Amount       449675 non-null  float64
 8   Sales Ratio       449675 non-null  float64
 9   Property Type     293652 non-null  object
 10  Residential Type  289555 non-null  object
 11  Non Use Code      236743 non-null  float64
 12  Assessor Remarks  146190 non-null  object
 13  OPM remarks       9753 non-null    object
 14  Location          197691 non-null  object
 15  Full Address      432384 non-null  object
 16  latitude          449675 non-null  float64
 17  longitude         449675 non-null  float64
 18  month_recorded    449675 non-null  int64
 19  year_recorded     449675 non-null  int64
dtypes: float64(6), int64(5), object(9)
memory usage: 72.0+ MB

In [6]:
print(location_filtered["latitude"].isna().sum())
print(location_filtered["longitude"].isna().sum())

0
0

In [7]:
location_filtered = location_filtered.loc[:, ~real_estate.columns.str.contains('Unnamed')]

In [8]:
location_filtered.to_csv('../Datasets/geocoded_and_location_filtered.csv')