# Modeling

Frequently used libraries are imported.
The dataset imported from the csv file.

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from bokeh.plotting import figure, show, output_notebook, output_file, reset_output
from bokeh.layouts import gridplot
from bokeh.models import HoverTool
import osmnx as ox
import geopandas as gpd
import statsmodels.api as sm
from scipy import stats
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
import re
import nltk
from string import punctuation
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
import string
from sklearn.feature_selection import f_regression
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
file_path ='/content/drive/MyDrive/capstone_datasets/cleaned_real_estate.csv'

real_estate=pd.read_csv(file_path)
real_estate.sample(10)

<ipython-input-6-b1010642cd8f>:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  real_estate=pd.read_csv(file_path)

,Unnamed: 0,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Full Address,latitude,longitude,month_recorded,year_recorded
106201,876435,170563,2017,2018-07-26,Enfield,161 OLDEFIELD FARMS,125130.0,193300.0,0.647300,Condo,Condo,NaN,NaN,NaN,"161, Oldefield Farms, Enfield, Connecticut, Un...",-72.55486,41.99089,7,2018
2171,5272,200414,2020,2021-08-12,Killingly,103 RODGERS RD,192990.0,395000.0,0.488500,Residential,Single Family,NaN,NaN,NaN,"103, Rodgers Rd, Killingly, Connecticut, Unite...",-71.79818,41.90298,8,2021
7306,16773,20020,2020,2021-02-10,Franklin,201 CHAMPION RD,232480.0,380000.0,0.611789,Residential,Single Family,NaN,NaN,NaN,"201, Champion Rd, Franklin, Connecticut, Unite...",-72.15408,41.59110,2,2021
119090,964710,190347,2019,2020-08-12,New London,745 MONTAUK AVE,215180.0,335500.0,0.641400,Single Family,Single Family,NaN,NaN,NaN,"745, Montauk Ave, New London, Connecticut, Uni...",-72.09426,41.32576,8,2020
10379,23815,200039,2020,2020-10-23,Guilford,35 CLEAR LAKE RD,156060.0,315000.0,0.495400,Residential,Single Family,NaN,NaN,NaN,"35, Clear Lake Rd, Guilford, Connecticut, Unit...",-72.74148,41.33838,10,2020
84860,740342,140089,2014,2014-12-16,Stonington,236 MISTUXET AVE,148900.0,175000.0,0.850857,Single Family,Single Family,NaN,NaN,NaN,"236, Mistuxet Ave, Stonington, Connecticut, Un...",-71.94282,41.35982,12,2014
63992,609104,110745,2011,2012-05-29,Stamford,81 WOOD RIDGE DRIVE S,281750.0,330000.0,0.853788,Single Family,Single Family,NaN,NaN,NaN,"81, Wood Ridge Drive S, Stamford, Connecticut,...",-73.55384,41.08673,5,2012
15203,35430,200216,2020,2021-02-10,Simsbury,29 DRUMLIN ROAD,300220.0,489000.0,0.613900,Residential,Single Family,25.0,SHORT SALE,NaN,"29, Drumlin Road, Simsbury, Connecticut, Unite...",-72.86357,41.82978,2,2021
108881,895648,180641,2018,2019-04-15,Danbury,13 MILL PLAIN RD CUTOFF,270300.0,461000.0,0.586300,Single Family,Single Family,NaN,C14077,NaN,"13, Mill Plain Rd Cutoff, Danbury, Connecticut...",-73.49412,41.38760,4,2019
117217,951738,180263,2018,2019-01-30,Torrington,168 BRIGHTWOOD AVE,113270.0,160000.0,0.707900,Two Family,Two Family,NaN,NaN,NaN,"168, Brightwood Ave, Torrington, Connecticut, ...",-73.11641,41.80995,1,2019

In [7]:
print(real_estate.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123753 entries, 0 to 123752
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        123753 non-null  int64
 1   Serial Number     123753 non-null  int64
 2   List Year         123753 non-null  int64
 3   Date Recorded     123753 non-null  object
 4   Town              123753 non-null  object
 5   Address           123753 non-null  object
 6   Assessed Value    123753 non-null  float64
 7   Sale Amount       123753 non-null  float64
 8   Sales Ratio       123753 non-null  float64
 9   Property Type     123753 non-null  object
 10  Residential Type  123753 non-null  object
 11  Non Use Code      35632 non-null   float64
 12  Assessor Remarks  25466 non-null   object
 13  OPM remarks       1980 non-null    object
 14  Full Address      123535 non-null  object
 15  latitude          123753 non-null  float64
 16  longitude         123753 non-null  float64
 17  month_recorded    123753 non-null  int64
 18  year_recorded     123753 non-null  int64
dtypes: float64(6), int64(5), object(8)
memory usage: 17.9+ MB
None

In [8]:
real_estate_nonull = real_estate.drop(columns=['Unnamed: 0','Serial Number', 'Date Recorded', 'Sales Ratio', 'Address', 'Full Address', 'Property Type'], axis=1)
real_estate_nonull = real_estate_nonull.fillna("na")
#real_estate_nonull = real_estate_nonull.sample(2000)

In [9]:
real_estate_nonull.sample()

,List Year,Town,Assessed Value,Sale Amount,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,latitude,longitude,month_recorded,year_recorded
98359,2017,Deep River,129080.0,170000.0,Single Family,na,na,na,-72.43369,41.38806,10,2017

In [10]:
#Missing values check
print(".info of All Columns\n", real_estate_nonull.info())
print("Null Values in Total\n", real_estate_nonull.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123753 entries, 0 to 123752
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   List Year         123753 non-null  int64
 1   Town              123753 non-null  object
 2   Assessed Value    123753 non-null  float64
 3   Sale Amount       123753 non-null  float64
 4   Residential Type  123753 non-null  object
 5   Non Use Code      123753 non-null  object
 6   Assessor Remarks  123753 non-null  object
 7   OPM remarks       123753 non-null  object
 8   latitude          123753 non-null  float64
 9   longitude         123753 non-null  float64
 10  month_recorded    123753 non-null  int64
 11  year_recorded     123753 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 11.3+ MB
.info of All Columns
 None
Null Values in Total
 List Year           0
Town                0
Assessed Value      0
Sale Amount         0
Residential Type    0
Non Use Code        0
Assessor Remarks    0
OPM remarks         0
latitude            0
longitude           0
month_recorded      0
year_recorded       0
dtype: int64

In [11]:
real_estate_nonull

,List Year,Town,Assessed Value,Sale Amount,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,latitude,longitude,month_recorded,year_recorded
0,2020,Bethlehem,168900.0,352000.0,Single Family,na,na,na,-73.18197,41.64672,8,2021
1,2020,Groton,259770.0,650000.0,Single Family,na,na,na,-72.07229,41.32148,7,2021
2,2020,Groton,654570.0,990000.0,Single Family,7.0,TEAR DOWN,na,-72.00446,41.31252,10,2020
3,2020,Meriden,209440.0,307000.0,Single Family,na,na,na,-72.79013,41.51639,10,2020
4,2020,Vernon,129190.0,226800.0,Single Family,na,na,na,-72.47857,41.84938,5,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
123748,2019,Norwich,86600.0,182000.0,Three Family,na,na,na,-72.07006,41.53315,3,2020
123749,2019,Norwalk,283180.0,440000.0,Single Family,14.0,FORECLOSURE BY SALE: 1-7-9-0,na,-73.42700,41.11112,2,2020
123750,2019,Weston,516990.0,790000.0,Single Family,na,na,na,-73.38341,41.19079,7,2020
123751,2019,Plymouth,104130.0,80000.0,Single Family,14.0,na,BANK SALE PER MLS,-72.98492,41.64753,2,2020
123752,2019,West Haven,125230.0,246000.0,Single Family,na,na,na,-72.96445,41.25722,11,2019

In [ ]:
train_scores = []
test_scores = []

ks = list(range(10, 100, 10))

for k in ks:
    my_KBest = SelectKBest(f_regression, k=k).fit(X_train_all_merged, y_train)

    X_train_selected = my_KBest.transform(X_train_all_merged)
    X_test_selected = my_KBest.transform(X_test_all_merged)

    model = LinearRegression()
    model.fit(X_train_selected, y_train)

    print(f"K = {X_train_all_merged.columns[my_KBest.get_support()]}")

    train_scores.append(model.score(X_train_selected, y_train))
    test_scores.append(model.score(X_test_selected, y_test))

In [ ]:
for column in (X_train_corr.columns):
    if (real_estate_nonull[column].isna().sum())== 0:
        pass
        #print (column, " passed")
    else:
        nunique_values = real_estate[column].nunique()
        unique_values = real_estate[column].unique()
        value_counts = real_estate[column].value_counts()
        print(f"The column name is {column}")
        print(f"The total number of unique values are: {nunique_values}")
        print(f"The value counts are: {value_counts}")

Findings:
   - `Date` column can be changed to DateTime format
   - `Date Recorded`, `Town`, `Address`, `Assessed Value`, `Sale Amount`, `Sale Ratio` have very few missing values.
   - Address has 51 missingcolumns.
   - About 1/3 of rows missing in `Property Type` and `Residential Type`.
   - About 20% of the data has `Location` or longitude and latitude.

In [ ]:
X_train_encoded = pd.get_dummies(X_train_to_encode)
X_train_numerical = X_train[[ "Assessed Value", "latitude", "longitude"]]

X_train_corr= pd.concat([X_train_numerical.reset_index(drop=True), X_train_encoded.reset_index(drop=True)], axis=1)

corr_df = X_train_corr.corr()
mask = np.triu(corr_df)
plt.figure(figsize=(50,20))
sns.heatmap(corr_df.round(2), annot=True,mask=mask, vmin=-1, vmax=1, cmap='coolwarm')
plt.show()

Findings:
   - `Assessed Value` and `Sale Amount` is weakly correlated (r=0.11).

In the `OPM remarks`, it is stated that an *INCORRECT SALE PRICE* is inserted. So this row will be deleted and will investigate if other rows have the same comment.

In [ ]:
file_path = '../Datasets/mortgage.csv'

mortgage=pd.read_csv(file_path)
mortgage

In [ ]:
mortgage = mortgage.groupby(pd.PeriodIndex(mortgage['DATE'], freq="M"))['MORTGAGE30US'].mean().reset_index()

In [ ]:
mortgage = pd.DataFrame(mortgage.reset_index())

In [ ]:
mortgage

In [ ]:
mortgage.info()

In [ ]:

mortgage[['YEAR', 'MONTH']] = mortgage['DATE'].str.split('-', expand=True)

mortgage['YEAR'] = mortgage['YEAR'].astype(int)
mortgage['MONTH'] = mortgage['MONTH'].astype(int)

In [ ]:
real_estate

In [ ]:

merged_df = pd.merge(real_estate, mortgage, on=['year', 'month'], how='left')

print(merged_df)



mortgage = mortgage.groupby(pd.PeriodIndex(mortgage['DATE'], freq="M"))['MORTGAGE30US'].mean().reset_index()

merged_df = pd.merge(real_estate, mortgage, left_on=['year', 'month'], right_on=['DATE', 'MORTGAGE30US'], how='left')

merged_df.drop(['DATE', 'MORTGAGE30US'], axis=1, inplace=True)

print(merged_df)